body {
background-color: hsl(233, 47%, 7%);
font-size: 15px;
width: 1440px;
position: absolute;

}

.card{
    background-color: hsl(244, 38%, 16%);
    height: 446PX;
    width: 1000px;
    font-family: font-family: 'Inter', sans-serif;
    border-radius:5px;
    display:flex;
    position: relative;
    left: 400px;
    top:200px;
    
    
}

.container{
padding: 50px;
width:400px;
    
}
h1{
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-family: 'Inter';
}

span {
color: hsl(276, 64%, 62%);
}

p{
    color:hsla(0, 0%, 100%, 0.75) ;
    font-weight: 400;
    display: inline-block;
    
}
h2{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
}
.description{
    font-family: 'Inter';
    color: hsla(0, 0%, 100%, 0.6);
}
p.companies{
    font-size: 14px;
    font-family: "Lexend Deca";
    color: hsla(0, 0%, 100%, 0.6);
}



.extra{
    display: flex;
    margin-top: 30px;
}
img{

border-radius: 0 5px 5px 0;

}

